* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  #navbar {
    position: relative;
    z-index: +3;
    .mainlogo {
      img {
        display: none;
        height: 0px;
      }
    }
    .items_nav {
      .burger {
        svg {
          visibility: visible !important;
        }
      }
    }
    .nav_list {
      margin-top: 20px;
      position: absolute;
      width: 100%;
      top: 88px;
      left: 0;
      right: 0;
      background-color: white;
      transform: translateX(-500px);
      transition: 0.3 ease-in-out;
      ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        li {
          padding: 12px 0px;
        }
      }
    }
  }
  #head {
    .starter-count {
      .loader {
        padding: 0;
      }
    }
    .head1 {
      h1 {
        font-size: 37px !important;
      }
    }
    .imghead1 {
      img {
        display: none;
      }
    }
  }
  #choosed-vacation {
    .cards {
      display: flex;
      flex-direction: column;
      .card-item {
        max-width: 95% !important;
      }
    }
  }
  #new-vacation {
    .cards {
      display: flex;
      flex-direction: column;
      .card-item {
        width: 95% !important;
      }
    }
  }
  footer {
    .logo1 {
      text-align: center;
    }
    .icons1 {
      margin-top: 35px;
    }
  }
  #is-elanlari {
    display: flex;
    flex-direction: column;
    .card-item {
      width: 96% !important;
    }
  }
}
#navbar {
  padding: 20px 0px;
  .mainlogo {
    img {
      max-width: 80%;
      object-fit: cover;
    }
  }
  .nav_list {
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
      justify-content: flex-start;
      align-items: center;
      gap: 30px;
      li {
        list-style: none;
        a {
          text-decoration: none;
          cursor: pointer;
          font-size: 1rem;
          font-family: "Helvetica Neue", Arial, sans-serif;
          font-weight: 600;
          line-height: 1.334;
          color: rgba(0, 0, 0, 0.7);
          &:hover {
            color: #0549aa;
          }
        }
      }
    }
  }
  .items_nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    .burger {
      visibility: hidden;
    }
    .azerb {
      a {
        text-decoration: none;
        color: black;
        font-size: 1rem;
        cursor: pointer;
      }
    }
    .darkmod {
      i {
        font-size: 1rem;
        cursor: pointer;
      }
    }
    .login {
      button {
        background-color: inherit;
        border: 1px solid #2196f3;
        padding: 3px 20px;
        border-radius: 50px;
        cursor: pointer;
        a {
          text-decoration: none;
          font-size: 1rem;
          font-weight: 600;
          color: #174da1;
        }
        &:hover {
          background-color: #e8e8e87d;
          transition: 0.3s;
        }
      }
    }
  }
}
#head {
  .imghead1 {
    height: 480px;
    display: flex;
    overflow: hidden;
    width: 100%;
    margin-left: 64px;
    border-radius: 60px;
    pointer-events: none;
    border-bottom-right-radius: 0;
    img {
      border-radius: 50px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-bottom-right-radius: 0;
    }
  }
  .head1 {
    margin-top: 20px;
    .starter-search {
      width: 100%;
      border: 1px solid rgb(225, 225, 225);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 5px 5px 20px;
      border-radius: 32px;
      margin-top: 25px;
      input {
        border: none;
        outline: none;
        width: 100%;
        padding: 0 10px;
        font-size: 17px;
        &::placeholder {
          color: rgb(176, 174, 174);
        }
      }
      button {
        padding: 15px 50px;
        border-radius: 32px;
        background-color: #0549aa;
        color: #fff;
        border: none;
      }
    }
    .starter-count {
      margin-top: 8rem;

      ul {
        display: flex;
        align-items: center;
        gap: 50px;
        li {
          list-style: none;
          span {
            font-size: 24px;
            font-weight: 600;
          }
        }
        li:nth-child(2) {
          border-left: 1px solid rgb(185, 185, 185);
          border-right: 1px solid rgb(185, 185, 185);
          padding: 0 30px;
        }
      }
    }
    h1 {
      font-size: 55px;
      font-weight: bold;
    }
    p {
      color: rgba(0, 0, 0, 0.7);
      font-weight: 400;
      font-size: 1rem;
    }
  }
}
#choosed-vacation {
  .container {
    .cards {
      .card-item {
        // border: 0.5px solid rgb(179, 178, 178);
        border-radius: 10px;
        padding: 8px;
        max-width: 32%;
        margin: 6px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        &:hover {
          border: 0.3px solid rgb(212, 204, 204);
        }
        .head {
          .img {
            width: 83px;
            text-align: center;
            img {
              width: 100%;
              padding: 5px;
              border: 0.5px solid rgb(208, 207, 207);
              border-radius: 5px;
            }
          }
          .title {
            h5 {
              margin: 0;
              font-size: 17px;
            }
            a {
              text-decoration: none;
              color: black;
            }
          }
          .icon {
            a {
              color: grey;
              font-size: 20px;
            }
          }
        }
        .main {
          ul {
            display: flex;
            margin: 0;
            padding: 0;

            li {
              list-style-type: none;
              margin: 0 3px 0 3px;
              font-size: 11px;
              font-weight: bold;
              i {
                padding-right: 5px;
              }
              a {
                text-decoration: none;
              }
            }
            .main-1 {
              background-color: #e9f5ea;
              padding: 8px 10px;
              border-radius: 3px;
              a {
                color: #4caf50;
              }
            }
            .main-2 {
              background-color: #fff2e0;
              padding: 8px 10px;
              border-radius: 3px;
              a {
                color: #ff9800;
              }
            }
            .main-3 {
              background-color: #e4f2fe;
              padding: 8px 10px;
              border-radius: 3px;
              a {
                color: #2196f3;
              }
            }
            .main-4 {
              background-color: #f3e5f5;
              padding: 5px 8px;
              border-radius: 3px;
              a {
                color: #af30b0;
              }
            }
          }
        }
        .end {
          span {
            a {
              color: black;
              text-decoration: none;
            }
          }
        }
      }
    }
    .choosed-vacation-show {
      text-align: center;
      button {
        padding: 7px;
        border: 0.5px solid #3a6ec3;
        border-radius: 22px;
        background-color: inherit;
        &:hover {
          background-color: rgba(210, 210, 210, 0.591);
          transition: 0.3s ease-in-out;
        }
        a {
          text-decoration: none;
          color: #4570b7;
        }
      }
    }
  }
}
#popular-vacation {
  .title-popular {
    text-align: center;
  }
  .other-card {
    padding: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;
    &:hover {
      border: 0.3px solid rgb(212, 204, 204);
    }
    .popular-card {
      display: flex;
      align-items: center;
      gap: 0.7rem;
      .subtitle-popular {
        h5 {
          font-size: 17px;
        }
      }
      .popular-image {
        svg {
          width: 50px !important;
          height: 50px !important;
          background-color: #fef4f4 !important;
          padding: 0px 10px;
          background-color: #e2e2e2;
          border-radius: 50%;
          color: #f46e6e;
        }
      }
      .popular-image-2 {
        svg {
          width: 50px !important;
          height: 50px !important;
          background-color: #f1f8fe !important;
          padding: 0px 10px;
          border-radius: 50%;
          color: #49a3f6;
        }
      }
      .popular-image-3 {
        svg {
          width: 50px !important;
          height: 50px !important;
          background-color: #f1fbfe !important;
          padding: 0px 10px;
          border-radius: 50%;
          color: #49ccf6;
        }
      }
      .popular-image-4 {
        svg {
          width: 50px !important;
          height: 50px !important;
          background-color: #fef9f1 !important;
          padding: 0px 10px;
          border-radius: 50%;
          color: #f4ad49;
        }
      }
      .popular-image-5 {
        svg {
          width: 50px !important;
          height: 50px !important;
          background-color: #f9f5ff !important;
          padding: 0px 10px;
          border-radius: 50%;
          color: #b67ffd;
        }
      }
      .popular-image-6 {
        svg {
          width: 50px !important;
          height: 50px !important;
          background-color: #fbecfc !important;
          padding: 0px 10px;
          border-radius: 50%;
          color: #c90cd7;
        }
      }
      .popular-image-7 {
        svg {
          width: 50px !important;
          height: 50px !important;
          background-color: #ecf8f4 !important;
          padding: 0px 10px;
          border-radius: 50%;
          color: #0ea76f;
        }
      }
      .popular-image-8 {
        svg {
          width: 50px !important;
          height: 50px !important;
          background-color: #eff5fb !important;
          padding: 0px 10px;
          border-radius: 50%;
          color: #3482d2;
        }
      }
      .subtitle-popular {
        a {
          text-decoration: none;
          color: black;
        }
      }
      .popular-subtitle {
        color: #a5a1a1;
      }
    }
  }
}
#new-vacation {
  .container {
    .cards {
      .card-item {
        // border: 0.5px solid rgb(179, 178, 178);
        border-radius: 10px;
        padding: 8px;
        width: 32%;
        margin: 6px;
        // box-shadow: 0px 0px 4px 0px #a5a1a1;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        &:hover {
          border: 0.3px solid rgb(212, 204, 204);
        }
        .head {
          .img {
            width: 83px;
            text-align: center;
            img {
              width: 100%;
              padding: 5px;
              border: 0.5px solid rgb(208, 207, 207);
              border-radius: 5px;
            }
          }
          .title {
            h5 {
              margin: 0;
              font-size: 17px;
            }
            a {
              text-decoration: none;
              color: black;
            }
          }
          .icon {
            a {
              color: grey;
              font-size: 20px;
            }
          }
        }
        .main {
          ul {
            display: flex;
            margin: 0;
            padding: 0;

            li {
              list-style-type: none;
              margin: 0 3px 0 3px;
              font-size: 11px;
              font-weight: bold;
              i {
                padding-right: 5px;
              }
              a {
                text-decoration: none;
              }
            }
            .main-1 {
              background-color: #e9f5ea;
              padding: 8px 10px;
              border-radius: 3px;
              a {
                color: #4caf50;
              }
            }
            .main-2 {
              background-color: #fff2e0;
              padding: 8px 10px;
              border-radius: 3px;
              a {
                color: #ff9800;
              }
            }
            .main-3 {
              background-color: #e4f2fe;
              padding: 8px 10px;
              border-radius: 3px;
              a {
                color: #2196f3;
              }
            }
            .main-4 {
              background-color: #f3e5f5;
              padding: 8px 10px;
              border-radius: 3px;
              a {
                color: #af30b0;
              }
            }
          }
        }
        .end {
          span {
            a {
              color: black;
              text-decoration: none;
            }
          }
        }
      }
    }
    .new-vacation-show {
      text-align: center;
      button {
        padding: 7px;
        border: 0.5px solid #3a6ec3;
        border-radius: 22px;
        background-color: inherit;
        &:hover {
          background-color: rgba(210, 210, 210, 0.591);
          transition: 0.3s ease-in-out;
        }
        a {
          text-decoration: none;
          color: #4570b7;
        }
      }
    }
  }
}
footer {
  border-bottom: 0.9px solid gray;
  margin-top: 1rem;
  #lists {
    .list {
      width: 100%;
      ul {
        p {
          font-size: 17px;
          font-weight: 600;
        }
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
    border-bottom: 1px solid rgb(174, 174, 174);
  }
  #lists2 {
    height: 120px;
    width: 100%;
    .logo1 {
      img {
        width: 80px;
        height: 80px;
      }
      span {
        font-size: 14px;
      }
    }
    .icons1 {
      display: flex;
      align-items: center;
      ul {
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 30px;
        li {
          list-style: none;
          a {
            color: rgba(0, 0, 0, 0.605);
            text-decoration: none;
            i {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}
#fixedbuttons {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  button {
    color: #174da1;
    border: #0549aa 1px solid;
    background-color: inherit;

    padding: 9px 14px;
    border-radius: 50px;
    a {
      text-decoration: none;
    }
  }
}
#page1 {
  .bigtext {
    h1 {
      font-size: 55px;
    }
    p {
      font-size: 22px;
    }
  }
  .imgpage1 {
    img {
      width: 100%;
      object-fit: cover;
      background-color: white;
    }
  }
}
#cardspage1 {
  .cardspage1_text {
    h2 {
      font-size: 2.275rem;
      font-family: "Helvetica Neue", Arial, sans-serif;
      font-weight: 600;
      line-height: 1.167;
    }
    p {
      font-weight: 400;
      line-height: 1.5;
      font-size: 1.25rem;
    }
  }
}
#card_list {
  .card_item {
    height: 100%;
    padding: 24px;

    transition: 0.3s box-shadow;
    border-radius: 8px;
    background-color: rgb(247, 247, 247);
    .bold {
      margin-bottom: 0.35em;
      font-size: 1.375rem;
      font-family: "Helvetica Neue", Arial, sans-serif;
      font-weight: 600;
      line-height: 1.167;
    }
    .p_text {
      font-size: 1rem;
      font-family: "Helvetica Neue", Arial, sans-serif;
      font-weight: 400;
      line-height: 1.5;
    }

    .icon1 {
      svg {
        width: 25px;
        height: 25px;
        color: rgb(73, 163, 246);
      }
      background-color: rgba(181, 232, 249, 0.788);
      margin-bottom: 20px;
      width: 55px;
      height: 55px;
      display: flex;
      align-items: center;
      border-radius: 50%;
      justify-content: center;
    }
    .icon2 {
      svg {
        width: 25px;
        height: 25px;
        color: rgb(14, 167, 111);
      }
      background-color: rgba(170, 255, 192, 0.788);
      margin-bottom: 20px;
      width: 55px;
      height: 55px;
      display: flex;
      align-items: center;
      border-radius: 50%;
      justify-content: center;
    }
    .icon3 {
      svg {
        width: 25px;
        height: 25px;
        color: rgb(182, 127, 253);
      }
      background-color: rgba(224, 174, 255, 0.788);
      margin-bottom: 20px;
      width: 55px;
      height: 55px;
      display: flex;
      align-items: center;
      border-radius: 50%;
      justify-content: center;
    }
    .icon4 {
      svg {
        width: 25px;
        height: 25px;
        color: rgb(244, 173, 73);
      }
      background-color: rgba(255, 237, 174, 0.788);
      margin-bottom: 20px;
      width: 55px;
      height: 55px;
      display: flex;
      align-items: center;
      border-radius: 50%;
      justify-content: center;
    }
    .icon5 {
      svg {
        width: 25px;
        height: 25px;
        color: rgb(244, 110, 110);
      }
      background-color: rgba(255, 173, 173, 0.838);
      margin-bottom: 20px;
      width: 55px;
      height: 55px;
      display: flex;
      align-items: center;
      border-radius: 50%;
      justify-content: center;
    }
  }
}
#blog-searcher {
  .container {
    .row {
      .starter-search {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
          rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        width: 100%;
        border: 1px solid rgb(225, 225, 225);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 5px 5px 10px;
        border-radius: 12px;
        margin-top: 25px;
        input {
          border: none;
          outline: none;
          width: 100%;
          padding: 0 10px;
          font-size: 17px;
          &::placeholder {
            color: rgb(176, 174, 174);
          }
        }
        button {
          padding: 7px 9px;
          border-radius: 32px;
          background-color: #0549aa;
          color: #fff;
          border: none;
          i {
            color: #fff;
            font-size: 20px;
          }
        }
      }
    }
  }
}
#blog-cards {
  .row {
    .blog-card {
      .img-blog {
        max-width: 26rem;
        height: 14rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .blog-subtitle {
      p {
        font-size: 17px;
        color: rgb(161, 157, 157);
      }
    }
    .date-blog {
      p {
        font-size: 16px;
        color: rgb(180, 176, 176);
      }
    }
  }
}
#is-elanlari {
  .container {
    .cards {
      .card-item {
        // border: 0.5px solid rgb(179, 178, 178);
        border-radius: 10px;
        padding: 8px;
        width: 32%;
        margin: 6px;
        // box-shadow: 0px 0px 4px 0px #a5a1a1;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        &:hover {
          border: 0.3px solid rgb(212, 204, 204);
        }
        .head {
          .img {
            width: 83px;
            text-align: center;
            img {
              width: 100%;
              padding: 5px;
              border: 0.5px solid rgb(208, 207, 207);
              border-radius: 5px;
            }
          }
          .title {
            h5 {
              margin: 0;
              font-size: 17px;
            }
            a {
              text-decoration: none;
              color: black;
            }
          }
          .icon {
            a {
              color: grey;
              font-size: 20px;
            }
          }
        }
        .main {
          ul {
            display: flex;
            margin: 0;
            padding: 0;

            li {
              list-style-type: none;
              margin: 0 3px 0 3px;
              font-size: 11px;
              font-weight: bold;
              i {
                padding-right: 5px;
              }
              a {
                text-decoration: none;
              }
            }
            .main-1 {
              background-color: #e9f5ea;
              padding: 8px 10px;
              border-radius: 3px;
              a {
                color: #4caf50;
              }
            }
            .main-2 {
              background-color: #fff2e0;
              padding: 8px 10px;
              border-radius: 3px;
              a {
                color: #ff9800;
              }
            }
            .main-3 {
              background-color: #e4f2fe;
              padding: 8px 10px;
              border-radius: 3px;
              a {
                color: #2196f3;
              }
            }
            .main-4 {
              background-color: #f3e5f5;
              padding: 8px 10px;
              border-radius: 3px;
              a {
                color: #af30b0;
              }
            }
          }
        }
        .end {
          span {
            a {
              color: black;
              text-decoration: none;
            }
          }
        }
      }
    }
    .new-vacation-show {
      text-align: center;
      button {
        padding: 7px;
        border: 0.5px solid #3a6ec3;
        border-radius: 22px;
        background-color: inherit;
        &:hover {
          background-color: rgba(210, 210, 210, 0.591);
          transition: 0.3s ease-in-out;
        }
        a {
          text-decoration: none;
          color: #4570b7;
        }
      }
    }
  }
}
#accardion {
  ul {
    padding: 0;
    li {
      list-style: none;
      .accardion_item {
        .accardion-input {
          position: relative;
          input {
            width: 100%;
            border-radius: 10px;
            padding: 8px 10px;
            border: rgb(163, 163, 163) 1px solid;
          }
          .itemabsolute {
            position: absolute;
            top: 3px;
            right: 8px;
            button {
              border: none;
              background-color: #0549aa;
              color: white;
              padding: 6px 10px;
              border-radius: 22px;
            }
            .accardion_data {
              &:hover {
                background-color: #dfdfdf;
                border-radius: 21px;
                padding: 7px 13px;
              }
            }
          }
        }
      }
      .accardion-form {
        visibility: hidden;
        height: 0px;
        form {
          padding: 8px 8px;
          .label1,
          .label2,
          .label3,
          .label4,
          .label5,
          .label6,
          .label7 {
            input,
            select {
              width: 100%;
              padding: 6px 18px;
              border-radius: 12px;
              border: 1px solid gray;
              &:hover {
                border: 1px solid black;
              }
            }
          }
        }
      }
    }
  }
}
.active {
  visibility: visible !important;
  height: auto !important;
}
